body {background-color:rgb(0, 0, 0);}


@media screen and (max-width: 600px) {
    #myNameIs {
        padding-top:100px;
        
    }
}

@media screen and (max-width: 600px){
    ::-webkit-scrollbar {
        width: 0px;
    }
}

@media screen and (min-width:601px){
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
  }}
  
/*Button to Top*/
/*Floating Back-To-Top Button*/
#myBtn a{
  position: fixed;
  bottom: 10px;
  float: right;
  right: 5%;
  left: 95%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  background-color: rgb(170, 0, 0);
  padding: .5px;
  border-radius: 4px;
  text-decoration: none;
}
/*End Button to Top*/

/*My name is Connor*/
#myNameIs {
    font-size: 7vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white; 
    font-family: Consolas, monospace;
    text-align: center;
    padding-top: 10vw;
    padding-left: 50px;
    padding-right: 50px;
    top: 0;
    transition: .5s;
    margin-bottom: 0px;
}
/*End*/

/*Import Google Font*/
@font-face {
  font-family: "muli";
  src: url('https://fonts.google.com/specimen/Muli');
}


#aboutmeheader {
  font-size: 50px;
}
.aboutme2 {
    visibility: hidden;
}

/*About Me Header Slide Left*/
.aboutMeHeaderSlideLeft {
  animation-name: aboutMeHeaderSlideLeft;
  -webkit-animation-name: aboutMeHeaderSlideLeft;
  animation-duration: 2;
  -webkit-animation-duration: 2s;
  visibility: visible;
}

@keyframes aboutMeHeaderSlideLeft {
  from {
    margin-left: 100%;
    width: 100%
  }
  to {
    margin-left: 0%;
    width:100%
  }
}

@-webkit-keyframes aboutMeHeaderSlideLeft {
  from {
    margin-left: 100%;
    width: 100%
  }
  to {
    margin-left: 0%;
    width:100%
  }
}
/*End*/

/*About Me Paragraph Slide Right*/
.aboutmepara {
  visibility: hidden;
  margin-left: -100%;
}

.slideRight {
  color: white; 
  text-align: justify; 
  margin-top: 0px; 
  margin-left: 25%;
  margin-right: 25%; 
  line-height: 50px; 
  font-size: 1.5vw; 
  font-family: muli;
  -webkit-animation: slideRight 3s;
  -webkit-animation-delay: 2s;
  animation: slideRight 3s;
  animation-delay: 0s;
  width: 50%;
}

@keyframes slideRight {
  from {
    margin-left: -100%;
    visibility: hidden;
  }
  to {
    margin-left: 25%;
    margin-right:25%;
    visibility: visible;
  }
}

@-webkit-keyframes slideRight {
  from {
    margin-left: -100%;
    width: 100%;
    visibility: hidden;
  }
  to {
    margin-left: 25%;
    margin-right: 25%;
    width:100%;
    visibility: visible;
  }
}
/*End*/

#copyright {
    color: white;
    text-align:center;
}